<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p><b>Crerated as my first node project uses data from Mapbox.com and darksky.net</b></p>
        <img class="portrait" src="/img/me.jpg">
        <p><b>{{info}}</b></p>
    </div>
    
    {{>footer}}
</body>

</html>