body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-size: 30px;
 
}

.portrait {
    width: 500px;
    
}
input {
    font-size: 1.5rem;
    border: 1px solid #cccccc;
    padding: 8px;
    width: 200px;
    height: 40px;
}

button {
    border-radius: 4px;
    background-color:#008CBA;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
   #msg1
   {
       font-size : 45px;
       font-family: Arial, Helvetica, sans-serif;
   }
#msg2
{
    font-size : 30px;
    font-family: Arial, Helvetica, sans-serif;
}